*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.box{
    height:100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
}
.form{
    width:400px;
    min-width:400px;
    height:450px;
    padding: 30px;
    border-radius:6px ;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px; ;
    
}

.form img{
    width:100px;
    display: block;
    margin:auto;
}
h1{
    font-size: 20px;
    padding:20px;
    left:0;
}
.form-group{
    height:58px;
    position:relative;
}

.form-control{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background: none;
    border:1px solid rgb(182, 180, 180);
    outline:none;
    padding: 15px;
    z-index: 1;
}
.form-label{
    position:absolute;
    left:13px;
    top:11px;
    color:grey;
    transition:0.5s;
}
.form-control:focus+ .form-label{
    top:-8px;
    z-index: 10;
    font-size:20px;
    background-color: white;


}
.form-control:focus{
    border:2px solid pink;
}
.form-control:not(:focus):valid+label{
    top:-8px;
    z-index: 10;
    background-color: white;
}
.show-label{
    font-size: 14px;
}
.button-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.button-box .form-button{
    color:white;
    padding:10px 20px;
    border:none;
    background-color: green;
    border-radius: 50px;
    cursor:pointer;
    transition: 0.5s;

}

.button-box a{
    text-decoration: none;
}
.form-button:hover{
    background-color: palegreen;
    color:black;
}